/*----------------- overall display layout -----------------*/

/*----------------- header -----------------*/
header{
    /* background-color: aqua; */
    display:flex;
    flex-direction: row;
}
.header-elements{
    /* background-color: rgb(0, 255, 72); */
    height: 100px;
    width: 1200px;
    border-bottom: 5px solid black; /* add a line at the buttom of the header */
    margin:10px;
}
/* PRODUCTS and CART options */
.header-options{
    /* background-color: rgb(183, 255, 0); */
    padding: 10px 80px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;  
    gap: 50px;
}
.cart-badge{
    background-color: red;
    border-radius: 50%; /* make the rounded shape */
    width: 23px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p.cart-badge{
    font-size: 22px;
    color: white;
    position: absolute; /* adjust the position of the badge */
    top: 20px;
    right: 45px;
}

/*----------------- images -----------------*/
.logo{
    width:400px;
    margin:10px;
}
.product-img{
    display:flex;
    align-items: center; /* make the image aligns at the center of the section */
    border: 3.5px solid black;
}
.gallery-img{
    width: 285px;
    height: 285px;
    margin:10px 10px 0px 10px;
}
#detail-img{
    width: 600px;
    height: 600px;
}
.cart-img{
    width: 200px;
    height: 200px;
}

/*----------------- headlines and paragraphs-----------------*/
h1, h2, h3, h4, h5, p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 100;
}
.bolded-text{
    font-weight:600;
}
h1,h2{
    font-size: 25px;
}
/* headline: our hand-made cinnomon rolls */
h3{
    font-size: 28px;
    padding: 70px 0 0 0;
}
/* headline: product name WITH an underline */
h4{
    font-size: 22px;
    margin: 20px 10px 10px 10px;
    color: black;
    text-decoration: underline;
}
/* headline: product price*/
h5{
    font-size: 22px;
    margin: 10px;
    color: black;
}
p{
    font-size: 25px;
    margin: 20px;
}

/*----------------- links -----------------*/
a{
    text-decoration: none;
}
/* clicked link: bolder and highlighted in yellow*/
.clicked{ 
    background-color: yellow;
    font-weight: 600;
}
/* unclicked link */
.unclicked{
    font-weight: 100;
}

/*----------------- button -----------------*/
button {
    background-color: yellow;  
    font-size: 25px; 
}

