/*----------------- overall display layout -----------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header.home-gallery-header {
    padding: 40px 3vw 0 3vw;
    position: fixed;
    width: 100%;
    height: 145px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); 
}

body {
    background-color: #000000; 
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

p {
    font-size: 14px;
    color: rgb(255, 255, 255);
}


/*----------------- search -----------------*/

#search-bar-elements {
    display: flex;
    position: relative; 
}

#search-input {
    width: 30vw;
    height: 45px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 45px;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;
    padding: 18px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    padding-right: 50px; 
}

#search-input:hover {
    background-color: rgba(115, 115, 115, 0.3);
}

#search-icon {
    position: absolute;
    right: 18px; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 23px;
}


#search-input::placeholder {
    color: white; 
}

#search-input:focus {
    outline: none; /* Removes the blue border/outline on focus */
}

/* Label */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


/*--------------- poll-title ----------------*/

.icons-and-search{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}


.my-favorites-and-search {
    display:flex;
    gap: 3vw;
}


#poll-title {
    text-decoration: none; 
    color: rgb(255, 255, 255); 
    position: absolute;
    right: 0; 
    margin: 0 calc(45px + 6vw);
    
    top: 95px;
}


#poll-title:hover {
    text-decoration: underline; 
    text-decoration-color: rgb(108, 108, 108); 
}


a{
    text-decoration: none;
}

/*----------------- sorting -----------------*/

.sort-by {
    display: flex;
    justify-content: flex-end;
    gap: 3vw;
    position: absolute; 
    right: 3vw; 
}

#sort-by-texts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
}

#sorting-icon {
    width: 22px;
    height: 22px;
}

/*----------------- icons -----------------*/

#my-favorites-icon {
    width: 25px;
    height: 25px;
}

#about-icon{
    width: 24px;
    position: absolute;
}

#about-circle {
    position: fixed;
    bottom: 40px;
    right: 3vw;
}
#seen-before-icon {
    width: 27px;
}
#seen-circle {
    position: fixed;
    bottom: 40px;
    left: 3vw;
}

.icons {
    width: 45px;
    height: 45px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.icons:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#back-icon {
    width: 27px;
    height: 27px;
    z-index: 10; 
}

#back-circle {
    position: fixed;
    top: 40px;
    left: 3vw;
    z-index: 10; 
    backdrop-filter: blur(10px); 
}


/*--------------- poster-gallery --------------*/

#poster-gallery {
    margin: 0 calc(6vw + 45px);
    padding-top: 145px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 1.5vw; 
    padding-bottom: 45px;
}

@keyframes breathingEffect {
    0%, 100% {
        transform: scale(0.97);
    }
    50% {
        transform: scale(1.02);
    }
}

#poster-gallery img {
    width: calc((100vw - 12vw - 90px - (1.5vw)*3)*0.25);
    height: auto;
    border: 1px solid rgb(255, 255, 255);
    transition: transform 0.8s ease-in-out, filter 0.8s ease-in-out;
    display: block;
    transform-origin: center;
}

#poster-gallery img:hover {
    animation: breathingEffect 2s ease-in-out infinite;
}


/*--------------- search-popup --------------*/

#popup-container {
    z-index: 15;
    display:none; 
    position:fixed; 
    top:0; 
    left:0; 
    width:100vw; 
    justify-content:center; 
    align-items:center; 
    backdrop-filter:blur(10px);
}

#popup-content {
    width: 100vw;
    height: 100vh;
    position:relative; 
    background-color:transparent; 
    overflow-y: auto; /* Allows scrolling if content overflows */
}

#popup-posters {
    height: 100vh;
    padding: 125px 3vw 125px 3vw; 
    display: flex;
    align-items: center;
    gap: 1.5vw;
    overflow-x: auto; 
    box-sizing: border-box; 
}

#popup-posters img {
    border: 1px solid rgb(255, 255, 255);
    width: 22vw;
    transition: transform 0.8s ease-in-out, filter 0.8s ease-in-out;
    display: block;
    transform-origin: center;
}

#popup-posters img:hover {
    animation: breathingEffect 2s ease-in-out infinite;
}

.search-result-header {
    width: 100vw;
    height: 125px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
}

#search-result-title {
    font-size: 19px;
    margin: 3vw;
}

#close-circle {
    position:fixed; 
    right: 0vw;
    margin: 3vw;
    cursor:pointer;
}

#close-icon {
    width: 40px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px black inset !important;
    -webkit-text-fill-color: white !important;
}




/* ----------------------------------------------------------- */


@media (max-width: 700px) {
    #poster-gallery {
        margin: 0 15%;
        display: flex;
        flex-direction: column; 
    }
    
    #poster-gallery img {
        width: 100%; 
        margin: 15px 0 20px 0; 
    }

    #popup-container {
        width: 100%;
    }
    
    #popup-content {
        width: 100%;
    }
    
    #popup-posters {
        margin: 0 15%;
        display: flex;
        flex-direction: column; 
    }

    #popup-posters img{
        width: 100%; 
        margin: 0px 0 40px 0; 

    }

}

