/*----------------- overall display layout -----------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header.home-gallery-header {
    /* padding: 40px 3vw 22px 3vw; */
    padding: 40px 3vw 0 3vw;
    position: fixed;
    width: 100%;
    height: 145px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); 
}



.icons-and-search{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    background-color: #000000; 
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}
p{
    font-size: 14px;
    color: rgb(255, 255, 255);
}

#poll-title {
    font-size: 17px;
    display:flex;
    justify-content: flex-end;
    padding: 0 45px;
    margin: 18px 3vw;
    /* background-color: aqua; */
    /* text-decoration: none;  */
}

a{
    text-decoration: none;
}

/* a #poll-title {
    text-decoration: none;
} */


a:hover #poll-title {
    text-decoration: underline;
    text-decoration-color: rgb(108, 108, 108); 
}


.sort-by {
    /* background-color: aquamarine; */
    display:flex;
    justify-content: flex-end;
    gap: 3vw;
}
#sort-by-texts {
    display:flex;
    flex-direction: row;
    align-items: center; 
    gap: 0.5vw;
}

.my-favorites-and-search {
    display:flex;
    gap: 3vw;
}
#search-bar {
    width: 30vw;
    height: 45px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 45px;
    display: flex;
    align-items: center; 
}
#search-bar-elements {
    width: 30vw;
    display: flex;
    /* background-color: aquamarine; */
    justify-content: space-between;
}

#search-text {
    width: 24vw;
    display: flex;
    align-items: center; 
    /* background-color: rgb(0, 167, 36); */
    margin: 18px;
}

#search-icon {
    /* background-color: rgb(0, 103, 167); */
    width: 23px;
    margin: 18px;
}
#my-favorites-icon {
    width: 25px;
    height: 25px;
}
#sorting-icon {
    width: 22px;
    height: 22px;
}
#create-my-gallery-icon{
    width: 21px;
    height: 21px;
    position: absolute;
}

#gallery-circle {
    position: fixed;
    bottom: 40px;
    right: 3vw;
}
#seen-before-icon {
    width: 27px;
    /* height: 22px; */
}
#seen-circle {
    position: fixed;
    /* margin: 40px 3vw 0 3vw; */
    bottom: 40px;
    left: 3vw;
}


.icons {
    width: 45px;
    height: 45px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}

#poster-gallery {
    margin: 0 6vw;
    padding: 0 45px;
    padding-top: 145px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    /* align-items: center;  */
    /* gap: 2vw;  */
    gap: 19px; 
    padding-bottom: 45px;
}

#poster-gallery img {
    width: 19.5vw;
    /* width: 300px; */
    /* width: 235px; */
    border: 1px solid rgb(255, 255, 255);
}





#back-icon {
    width: 27px;
    height: 27px;
}

#back-circle {
    position: fixed;
    top: 40px;
    left: 3vw;
}


